{% extends "header.html" %}
{% load static %}
{% block content %}
   <div class="container-fluid"
        <section id="about">
			<br></bt><h1>About Me</h1>
			<img src="{% static 'img/josef.png' %}" id = "josef" alt="Josef Image">
            <h1>This is my cat</h1>
            <p>My name is Liam Wayne N, Manese, and I am an aspiring computer engineer. I am currently in my 2nd year in college, although it may be difficult and challenging, I will not give up this course. I love to code because I get to express my creativity and I gain money from sitting infront of a computer. Apart from computer software, I am also interested in computer hardware. Someday, I will be a successful person, along with my friends who will succeed with me.</p>
		</section>
{% endblock %}