{% extends "header.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid"
    <section id="table">
    <table align="center">
  <tr>
    <th width="400px"><h1>Front End Design</h1></th> <hr> <br> <br> <br> <br> <br> <br> <br> <br>
    <th width="400px"><h1>C++, Python, HTML, CSS</h1></th>
    <th width="400px"><h1>Computer Hardware</h1></th>
  </tr>
  <tr>
    <td width="400px">I have some knowledge in Front end design, as long as creative expression for designing</td>
    <td width="400px">I have knowledge in programming languages such as C++ and Python, as well as web development language like HTML and C++</td>
    <td width="400px">I have pretty significant knowledge about computer hardware</td>
  </tr>
</table>
    </section>
    </div>
{% endblock %}